In [4]:
#Importing all the Necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.simplefilter("ignore", UserWarning)

In [5]:
file_path = "C:\\Users\\vukch\\Downloads\\Flatten_Covid19_Dataset-20251217T033833Z-1-001\\Flatten_Covid19_Dataset\\"

In [6]:

#Reading the file schema_1_ontario_final
df1 = pd.read_csv(os.path.join(file_path, "schema_1_ontario_final.csv"))

In [7]:
#Reading the file schema_1_ontario_final
df2 = pd.read_csv(os.path.join(file_path, "schema_2_ontario_final.csv"))

In [8]:
#Reading the file schema_1_ontario_final
df3 = pd.read_csv(os.path.join(file_path, "schema_3_ontario_final.csv"))

In [9]:
#Renaming schema1 column names
df1.rename(columns={'week':'week_num','fsa':'fsa_cd','probable':'probable_ind','vulnerable':'vulnerable_ind','fever_chills_shakes':'fever_chills_shakes_ind','cough':'cough_ind','shortness_of_breath':'shortness_of_breath_ind','over_60':'age_over_60_ind','any_medical_conditions':'additional_medical_condition_ind','travel_outside_canada':'travel_outside_canada_ind','contact_with_illness':'contact_with_illness_ind'}, inplace=True)

In [14]:
#Renaming schema2 column names
df2.rename(columns={'week':'week_num','fsa':'fsa_cd','probable':'probable_ind','vulnerable':'vulnerable_ind','fever_chills_shakes':'fever_chills_shakes_ind','cough':'cough_ind','shortness_of_breath':'shortness_of_breath_ind','over_60':'age_over_60_ind','any_medical_conditions':'additional_medical_condition_ind','travel_outside_canada':'travel_outside_canada_ind','contact_with_illness':'contact_with_illness_ind','age_1':'age_category'}, inplace=True)

In [37]:
#Renaming schema3 column names
df3.rename(columns={'week':'week_num','fsa':'fsa_cd','probable':'probable_ind','vulnerable':'vulnerable_ind','fever_chills_shakes':'fever_chills_shakes_ind','cough':'cough_ind','shortness_of_breath':'shortness_of_breath_ind','over_60':'age_over_60_ind','any_medical_conditions':'additional_medical_condition_ind','travel_outside_canada':'travel_outside_canada_ind','contact_with_illness':'contact_with_illness_ind','age_1':'age_category','contact_in_household':'contact_in_household_ind','tested':'test_completion_ind','covid_positive':'covid_positive_ind','travel_work_school':'travel_impact','self_isolating':'self_isolating_ind','tobacco_usage':'tobacco_usage_ind'}, inplace=True)

In [38]:
WEEK_TO_MONTH = {
    (1,4): "Jan",
    (5,8): "Feb",
    (9,13): "Mar",
    (14,17): "Apr",
    (18,21): "May",
    (22,26): "Jun",
    (27,30): "Jul",
    (31,35): "Aug",
    (36,39): "Sep",
    (40,43): "Oct",
    (44,48): "Nov",
    (49,53): "Dec"
}

def convert_week_number_to_month(df):
    def get_month(week_num):
        for (start,end), m in WEEK_TO_MONTH.items():
            if start <= week_num <= end:
                return m
        return np.nan
    
    df["week_num"] = pd.to_numeric(df["week_num"], errors="coerce")
    df["month"] = df["week_num"].apply(get_month)
    return df

df1 = convert_week_number_to_month(df1)
df1.head(5)

,week_num,fsa_cd,probable_ind,vulnerable_ind,is_most_recent,fever_chills_shakes_ind,cough_ind,shortness_of_breath_ind,age_over_60_ind,additional_medical_condition_ind,travel_outside_canada_ind,contact_with_illness_ind,month
0,13,L4C,n,n,y,n,n,n,n,n,n,n,Mar
1,13,P1H,y,y,y,n,n,n,y,y,n,y,Mar
2,14,N2J,n,y,y,n,n,n,y,n,n,n,Apr
3,13,N1G,n,n,y,n,n,n,n,n,n,n,Mar
4,13,M1P,n,y,n,n,n,n,n,y,n,n,Mar

In [39]:
WEEK_TO_MONTH = {
    (1,4): "Jan",
    (5,8): "Feb",
    (9,13): "Mar",
    (14,17): "Apr",
    (18,21): "May",
    (22,26): "Jun",
    (27,30): "Jul",
    (31,35): "Aug",
    (36,39): "Sep",
    (40,43): "Oct",
    (44,48): "Nov",
    (49,53): "Dec"
}

def convert_week_number_to_month(df):
    def get_month(week_num):
        for (start,end), m in WEEK_TO_MONTH.items():
            if start <= week_num <= end:
                return m
        return np.nan
    
    df["week_num"] = pd.to_numeric(df["week_num"], errors="coerce")
    df["month"] = df["week_num"].apply(get_month)
    return df

df2 = convert_week_number_to_month(df2)
df2.head(5)

,week_num,fsa_cd,probable_ind,vulnerable_ind,is_most_recent,fever_chills_shakes_ind,cough_ind,shortness_of_breath_ind,additional_medical_condition_ind,travel_outside_canada_ind,contact_with_illness_ind,symptoms,conditions,ethnicity,sex,needs,age_category,month
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64,Apr
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64,Apr
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64,Apr
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44,Apr
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44,Apr

In [40]:
#combine 3 schema files into a single file
df4= pd.concat([df1, df2, df3], ignore_index=True, sort=False)

In [41]:
df4.head(10)

,week_num,fsa_cd,probable_ind,vulnerable_ind,is_most_recent,fever_chills_shakes_ind,cough_ind,shortness_of_breath_ind,age_over_60_ind,additional_medical_condition_ind,...,contact_in_household_ind,test_completion_ind,covid_results_date,covid_positive_ind,mental_health_impact,travel_impact,self_isolating_ind,media_channels,financial_obligations_impact,tobacco_usage_ind
0,13.0,L4C,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,y,y,y,n,n,n,y,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,n,y,y,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.0,M1P,n,y,n,n,n,n,n,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,14.0,L3M,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,14.0,L3M,n,n,n,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,13.0,L3R,n,y,y,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,14.0,L6C,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,13.0,K9L,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df4['symptoms'] = df4['symptoms'].fillna('NR')
df4['conditions']=df4['conditions'].fillna('NR')
df4['ethnicity']=df4['ethnicity'].fillna('NR')
df4['sex']=df4['sex'].fillna('NR')
df4['needs']=df4['needs'].fillna('NR')
df4['age_category']=df4['age_category'].fillna('NR')
df4['contact_in_household_ind']=df4['contact_in_household_ind'].fillna('NR')
df4['test_completion_ind']=df4['test_completion_ind'].fillna('NR')
df4['covid_results_date']=df4['covid_results_date'].fillna('NR')
df4['covid_positive_ind']=df4['covid_positive_ind'].fillna('NR')
df4['mental_health_impact']=df4['mental_health_impact'].fillna('NR')
df4['travel_impact'] = df4['travel_impact'].fillna('NR')
df4['self_isolating_ind'] = df4['self_isolating_ind'].fillna('NR')
df4['media_channels']=df4['media_channels'].fillna('NR')
df4['financial_obligations_impact']=df4['financial_obligations_impact'].fillna('NR')
df4['tobacco_usage_ind']=df4['tobacco_usage_ind'].fillna('NR')

In [48]:
df4.head(10)
list(df4.columns)
print(df4["month"].unique()[:20])

['Mar' 'Apr' 'April' 'May' 'June' 'July']

In [51]:
#Replacing Apr to April and Mar to March
df4['month']=df4['month'].replace('Apr','April')
df4['month']=df4['month'].replace('Mar','March')

In [52]:
print(df4["month"].unique()[:20])

['March' 'April' 'May' 'June' 'July']

In [55]:
df4.info()
df4=df4.drop_duplicates().reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45945 entries, 0 to 45944
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   week_num                          33228 non-null  float64
 1   fsa_cd                            45945 non-null  object
 2   probable_ind                      45945 non-null  object
 3   vulnerable_ind                    45945 non-null  object
 4   is_most_recent                    33228 non-null  object
 5   fever_chills_shakes_ind           45945 non-null  object
 6   cough_ind                         45945 non-null  object
 7   shortness_of_breath_ind           45945 non-null  object
 8   age_over_60_ind                   22198 non-null  object
 9   additional_medical_condition_ind  45945 non-null  object
 10  travel_outside_canada_ind         45945 non-null  object
 11  contact_with_illness_ind          45945 non-null  object
 12  month                             45945 non-null  object
 13  symptoms                          45945 non-null  object
 14  conditions                        45945 non-null  object
 15  ethnicity                         45945 non-null  object
 16  sex                               45945 non-null  object
 17  needs                             45945 non-null  object
 18  age_category                      45945 non-null  object
 19  contact_in_household_ind          45945 non-null  object
 20  test_completion_ind               45945 non-null  object
 21  covid_results_date                45945 non-null  object
 22  covid_positive_ind                45945 non-null  object
 23  mental_health_impact              45945 non-null  object
 24  travel_impact                     45945 non-null  object
 25  self_isolating_ind                45945 non-null  object
 26  media_channels                    45945 non-null  object
 27  financial_obligations_impact      45945 non-null  object
 28  tobacco_usage_ind                 45945 non-null  object
dtypes: float64(1), object(28)
memory usage: 10.2+ MB

In [106]:
# For those records over_60 was not recorded, set over_60 to y if age_category > 65
# First, check if age_category is a string column containing values like '>65'
if df4["age_category"].dtype == 'object':
    # If age_category contains string values like '>65'
    df4.loc[df4["age_category"] == ">65", "age_over_60_ind"] = "y"
    df4.loc[df4["age_category"] == "45-64", "age_over_60_ind"] = "y"
else:
    # If age_category contains numeric values
    df4.loc[df4["age_category"] > 60, "age_over_60_ind"] = "y"

df4.head(10)

,week_num,fsa_cd,probable_ind,vulnerable_ind,is_most_recent,fever_chills_shakes_ind,cough_ind,shortness_of_breath_ind,age_over_60_ind,additional_medical_condition_ind,...,contact_in_household_ind,test_completion_ind,covid_results_date,covid_positive_ind,mental_health_impact,travel_impact,self_isolating_ind,media_channels,financial_obligations_impact,tobacco_usage_ind
0,13.0,L4C,n,n,y,n,n,n,n,n,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
1,13.0,P1H,y,y,y,n,n,n,y,y,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
2,14.0,N2J,n,y,y,n,n,n,y,n,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
3,13.0,N1G,n,n,y,n,n,n,n,n,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
4,13.0,M1P,n,y,n,n,n,n,n,y,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
5,14.0,L3M,n,n,y,n,n,n,n,n,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
6,14.0,L3M,n,n,n,n,n,n,n,n,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
7,13.0,L3R,n,y,y,n,n,n,y,n,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
8,14.0,L6C,n,n,y,n,n,n,n,n,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
9,13.0,K9L,n,n,y,n,n,n,n,n,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR

In [107]:
df4[df4["age_category"] == ">65"][['age_over_60_ind','age_category']].head(50)
#df4[['age_over_60_ind','age_category']].head(50)

      age_over_60_ind age_category
22211               y          >65
22226               y          >65
22241               y          >65
22242               y          >65
22246               y          >65
22256               y          >65
22257               y          >65
22298               y          >65
22310               y          >65
22311               y          >65
22319               y          >65
22328               y          >65
22371               y          >65
22372               y          >65
22382               y          >65
22383               y          >65
22420               y          >65
22421               y          >65
22428               y          >65
22441               y          >65
22442               y          >65
22470               y          >65
22482               y          >65
22484               y          >65
22488               y          >65
22495               y          >65
22496               y          >65
22502               y          >65
22511               y          >65
22517               y          >65
22529               y          >65
22558               y          >65
22559               y          >65
22560               y          >65
22595               y          >65
22596               y          >65
22615               y          >65
22625               y          >65
22636               y          >65
22671               y          >65
22676               y          >65
22677               y          >65
22684               y          >65
22685               y          >65
22745               y          >65
22758               y          >65
22767               y          >65
22826               y          >65
22827               y          >65
22830               y          >65

In [108]:
df6 = df4[df4.columns]
output_path = "cleaned_month_level_completed1.csv"
df5  = os.path.join(file_path,output_path)
df6.to_csv(df5, index=False)

print("Mapping Completed Successfully!")
print("Saved File:", output_path)
print(df6.head())

Mapping Completed Successfully!
Saved File: cleaned_month_level_completed1.csv
   week_num fsa_cd probable_ind vulnerable_ind is_most_recent  \
0      13.0    L4C            n              n              y
1      13.0    P1H            y              y              y
2      14.0    N2J            n              y              y
3      13.0    N1G            n              n              y
4      13.0    M1P            n              y              n

  fever_chills_shakes_ind cough_ind shortness_of_breath_ind age_over_60_ind  \
0                       n         n                       n               n
1                       n         n                       n               y
2                       n         n                       n               y
3                       n         n                       n               n
4                       n         n                       n               n

  additional_medical_condition_ind  ... contact_in_household_ind  \
0                                n  ...                       NR
1                                y  ...                       NR
2                                n  ...                       NR
3                                n  ...                       NR
4                                y  ...                       NR

  test_completion_ind covid_results_date covid_positive_ind  \
0                  NR                 NR                 NR
1                  NR                 NR                 NR
2                  NR                 NR                 NR
3                  NR                 NR                 NR
4                  NR                 NR                 NR

  mental_health_impact travel_impact self_isolating_ind media_channels  \
0                   NR            NR                 NR             NR
1                   NR            NR                 NR             NR
2                   NR            NR                 NR             NR
3                   NR            NR                 NR             NR
4                   NR            NR                 NR             NR

  financial_obligations_impact tobacco_usage_ind
0                           NR                NR
1                           NR                NR
2                           NR                NR
3                           NR                NR
4                           NR                NR

[5 rows x 29 columns]