In [1]:
import os

os.chdir(
    r"C:\Users\EM\OneDrive\Desktop\DA course\Python\Hackathon\Flatten_Covid19_Dataset-20251217T221337Z-3-001\Flatten_Covid19_Dataset"
)

In [2]:
print(os.getcwd())
print(os.listdir())

C:\Users\EM\OneDrive\Desktop\DA course\Python\Hackathon\Flatten_Covid19_Dataset-20251217T221337Z-3-001\Flatten_Covid19_Dataset
['ontario_covid_combined_cleaned.csv', 'schema_1_ontario_final.csv', 'schema_2_ontario_final.csv', 'schema_3_ontario_final.csv']

In [3]:
import pandas as pd

# Reading the file schema_1_ontario_final
df_schema1 = pd.read_csv("schema_1_ontario_final.csv")

In [4]:
#Reading the files
df_schema2=pd.read_csv("schema_2_ontario_final.csv")
#Reading the file schema_3_ontario_final
df_schema3=pd.read_csv("schema_3_ontario_final.csv")

In [5]:
#combine 3 schema files into a single file
df_combined = pd.concat([df_schema1, df_schema2, df_schema3], ignore_index=True, sort=False)

In [6]:

#Renaming age_1 to age_category as this column has age category rather than age
df_combined.rename(columns={'age_1': 'age_category'}, inplace=True)

In [7]:
df_combined.head()

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,...,contact_in_household,tested,covid_results_date,covid_positive,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,13.0,L4C,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,y,y,y,n,n,n,y,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,n,y,y,n,n,n,y,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,n,n,y,n,n,n,n,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.0,M1P,n,y,n,n,n,n,n,y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_combined.columns

Index(['week', 'fsa', 'probable', 'vulnerable', 'is_most_recent',
       'fever_chills_shakes', 'cough', 'shortness_of_breath', 'over_60',
       'any_medical_conditions', 'travel_outside_canada',
       'contact_with_illness', 'symptoms', 'conditions', 'ethnicity', 'sex',
       'needs', 'age_category', 'month', 'contact_in_household', 'tested',
       'covid_results_date', 'covid_positive', 'mental_health_impact',
       'travel_work_school', 'self_isolating', 'media_channels',
       'financial_obligations_impact', 'tobacco_usage'],
      dtype='object')

In [9]:
import os
print(os.getcwd())

C:\Users\EM\OneDrive\Desktop\DA course\Python\Hackathon\Flatten_Covid19_Dataset-20251217T221337Z-3-001\Flatten_Covid19_Dataset

In [10]:
df_combined.to_csv(
    "ontario_covid_combined_cleaned.csv",
    index=False
)